/* ============================= Let's Start Talk ============================= */

.wrapper {
  position: relative;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.wrapper .title {
  margin-bottom: 30px;
}

.wrapper .title p {
  font-size: 18px;
  max-width: 600px;
}

.talk_box
  :is(
    .field,
    form input:not(input[type="checkbox"]),
    form .input-field,
    textarea
  ) {
  width: 100%;
}

.talk_box {
  color: var(--black-color);
  background-color: var(--white-color);
  max-width: 450px;
  padding: 30px 20px;
}

.talk_box form {
  flex-wrap: wrap;
  gap: 15px;
}

.talk_box :is(input, textarea) {
  color: var(--black-color);
  background-color: var(--fff-color);
}

.talk_box form :is(input:not(input[name="agree"]), textarea) {
  margin-top: 5px;
}

.talk_box form .name {
  gap: 20px;
}

.talk_box form :is(input:not(input[type="checkbox"]), textarea, button) {
  padding: 10px;
  outline: none;
}

.talk_box
  form
  :is(.input-field, input:not([type="password"]), .name input, textarea) {
  border: 1px solid var(--medium-gray-color);
}

.talk_box form textarea {
  resize: none;
}

.talk_box form button {
  color: white;
  background-color: var(--blue-color);
  margin: 15px 0 20px;
  gap: 10px;
  border-radius: 30px;
  font-size: 13px;
  letter-spacing: 1px;
  border: none;
}

.talk_box form button i {
  animation: left-right 0.8s linear infinite;
}

@keyframes left-right {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
}

.talk_box :is(form input, form .input-field, .social a, textarea) {
  border-radius: 8px;
}

.talk_box form .error {
  color: var(--error-color);
  margin-top: 7px;
  font-size: 15px;
  display: none;
}

.talk_box .agree {
  font-size: 15px;
  gap: 8px;
}

.talk_box .agree a {
  color: var(--blue-color);
  text-decoration: underline;
}

.talk_box form textarea {
  font-family: inherit;
}

.start_talk .page_active {
  color: var(--white-color) !important;
  background-color: var(--blue-color);
  border: none !important;
}

/* ============================== Contact Us ============================ */
.contact_us {
  background-color: #1a7fb62d;
  position: relative;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.contact_us :is(.text span, i) {
  color: var(--blue-color);
}

.contact_us .information {
  gap: 25px;
  padding: var(--section-padding) 0;
}

.contact_us span {
  font-weight: bold;
  font-size: 15px;
}

.contact_us .text h3 {
  color: var(--black-color);
  font-size: 30px;
  margin: 10px 0 15px;
}

.contact_us .text p {
  color: var(--bold-gray-color);
  font-size: 18px;
  font-weight: 600;
}

.contact_us .contact_info .location {
  gap: 13px;
}

.contact_us .contact_info .location:first-child {
  margin-bottom: 40px;
}

.contact_us .location span {
  display: block;
}

.contact_us .location span:first-child {
  color: var(--black-color);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact_us .location span:last-child {
  color: var(--bold-gray-color);
}

/* =================== Let's Start Talk - Media Query =================== */

@media (max-width: 769px) {
  .contact_us .information {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
  }
  
  .contact_us .information .text {
    text-align: center;
  }
}

@media (max-width: 376px) {
  .talk_box form .name {
    flex-direction: column;
    gap: 15px;
  }
}
