/* ============================= Services ============================= */

.services {
  position: relative;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.services .info {
  margin-top: 60px !important;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px;
}

.services .info:not(:first-child) {
  margin-top: 80px;
}

.services .title h1 {
  font-size: 49px;
}

.services .info img {
  width: 550px;
  height: 440px;
  object-fit: cover;
  box-shadow: 0 0 10px #ddd;
}

.services .info h2 {
  font-size: 35px;
  margin-bottom: 30px;
}

.services .info p {
  font-size: 18px;
  line-height: 1.5;
}

.services .info p:not(:last-child) {
  margin-bottom: 15px;
}

/* ============================= Services - Media Query ============================= */

@media (max-width: 992px) {
  .services .info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
  }

  .services .info img {
    order: -1 !important;
  }
}

@media (max-width: 479px) {
  .services .info img {
    width: 100%;
    height: 100%;
  }
}

/* ============================= News Ticker ============================= */
.ticker {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.ticker marquee {
  font-size: 280px;
  color: var(--white-color);
  background-color: var(--blue-color);
}
