<footer class="overflowHidden">
  <div class="container">
    <div class="connect flexCenterBetween">
      <h4>Stay connected w/ me.</h4>
      <div class="connected">
        <div class="form flexCenterBetween" id="footer_form">
          <input
            type="email"
            name="email"
            placeholder="Enter your email"
            autocomplete="off"
          />
          <button type="submit" id="submit" name="footer-submit">
            <div class="paper-wrapper">
              <i class="fa-solid fa-paper-plane"></i>
            </div>
          </button>
        </div>
        <p class="error" id="email-error"></p>
      </div>
    </div>
    <div class="social_sec flexEndBetween">
      <div class="info">
        <div class="logo">
          <a class="flexAlignCenter">
            <img
              src="../../assets/Walf-logo.svg"
              alt="Walf Pixel"
              title="Walf Pixel"
              loading="lazy"
            />
            Wolf Pixel
          </a>
        </div>
        <p>
          I'm Waseem, a Front-End Developer with 3 years of experience.
          planning, designing, and implementing high-quality websites.
        </p>
      </div>
      <div class="social flexAlignCenter">
        <a
          href="https://www.facebook.com/waseem.abedalhady1/?locale=mk_MK&_rdr"
          target="_blank"
          class="flexCenter"
          ><i class="fa-brands fa-facebook-f"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/waseem-abd-elhadi-1b293624b/"
          target="_blank"
          class="flexCenter"
          ><i class="fa-brands fa-linkedin-in"></i
        ></a>
        <a
          href="https://www.instagram.com/waseem.abdalhady/"
          target="_blank"
          class="flexCenter"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a
          href="https://x.com/waseemabdalhady"
          target="_blank"
          class="flexCenter"
          ><i class="fa-brands fa-twitter"></i
        ></a>
      </div>
    </div>
    <div class="copy_right flexCenterBetween">
      <p>&copy; 2024 All Rights Reserved by Waseem Abd Elhadi</p>
      <div class="policy flexAlignCenter">
        <a href="#">Terms Of Service</a>
        <a href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
