<header>
  <div class="container flexCenterBetween">
    <div class="logo">
      <a class="flexAlignCenter" onclick="move('index.html')">
        <img
          src="../../assets/Walf-logo.svg"
          alt="Walf Pixel"
          title="Walf Pixel"
          loading="lazy"
        />
        <h2>Wolf Pixel</h2>
      </a>
    </div>
    <nav class="flexCenterBetween">
      <ul class="flexCenterBetween">
        <li>
          <a href="#" onclick="move('index.html')" class="flexAlignCenter">
            <i class="fas fa-home nav-icon"></i> Home
          </a>
        </li>
        <li>
          <a href="#" onclick="move('about.html')" class="flexAlignCenter">
            <i class="fas fa-info-circle nav-icon"></i> About</a
          >
        </li>
        <li>
          <a href="#" onclick="move('services.html')" class="flexAlignCenter"
            ><i class="fas fa-cogs nav-icon"></i>Services</a
          >
        </li>
        <li>
          <a href="#" onclick="move('portfolio.html')" class="flexAlignCenter"
            ><i class="fas fa-briefcase nav-icon"></i>Portfolio</a
          >
        </li>
      </ul>
      <button onclick="move('letsStartTalk.html')" class="btn">
        Let's Talk <i class="fa-solid fa-angle-right"></i>
      </button>
    </nav>
    <div class="flexAlignCenter">
      <div class="theme-placeholder flexCenter">
        <div class="dark-mode-toggle flexCenter">
          <i class="fas fa-moon"></i>
          <i class="fas fa-sun"></i>
        </div>
      </div>
      <div class="menu-wrapper">
        <div id="menu" class="flexColumnBetween">
          <span></span> <span></span> <span></span>
        </div>
      </div>
    </div>
  </div>
</header>
