<div class="blog_section overflowHidden">
  <div class="container">
    <div class="information flexBetween">
      <h2 data-aos="fade-right">Latest <span> blog post</span></h2>
      <div class="text" data-aos="fade-left">
        <p>
          Fresh Insights, Dive into My Latest Blog Post for Innovative Ideas and
          Inspirations.
        </p>
        <button class="btn style_btn">
          See More <i class="fa-solid fa-angle-right"></i>
        </button>
      </div>
    </div>
    <div class="main_blogs blog_cards flexCenterBetween">
      <!-- Code In JavaScript -->
    </div>
  </div>
</div>
